.search-box {
  padding: 10px 20px;
  outline: none;
  border: 1px solid transparent;
  transition-property: box-shadow, border-color;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  border-radius: 4px;
  max-width: 250px;
  width: 100%;
  margin-bottom: 20px;
  -webkit-appearance: none;
  :focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-color: skyblue;
  }
}
